/* colors:

-Brown-
dark:   #AD7534
mid:    #FAB363
light:  #FFC380

-Blue-   
dark:   #2384AD
light:  #64CEFA 

-Text Color-
primary: 
secondary:

-Fonts-
logo: 
primary: Anek Latin Light 300
Secondary: Mukta ExtraLight 200



*/


* {
    padding: 0;
    margin: 0%;

    font-family: 'Anek Latin', sans-serif;
    font-weight: bolder;
    color: white;
}